html {
	color: #FFF;
	background-image: url('image/wallpaper.jpg');
	background-size: cover;
	font-family: "Roboto Condensed";
	cursor: pointer;
}

body, html {
	padding: 0px;
	margin: 0px;
	width: 100%;
}

:focus {
	outline:none;
}

@media (max-width: 700px) {
	body, html {
		font-size: 4px !important;
	}
}

@media (min-width: 700px) and (max-width: 1000px) {
	body,html {
		font-size: 5px !important;
	}
}


@media (min-width: 1000px) and (max-width: 2000px) {
	body,html {
		font-size: 10px !important;
	}
}

@media (min-width: 2000px) and (max-width: 3000px) {
	body,html {
		font-size: 14px !important;
	}
}

@media (min-width: 3000px) and (max-width: 4000px) {
	body,html {
		font-size: 18px !important;
	}
}

@media (min-width: 4000px) and (max-width: 4999px) {
	body,html {
		font-size: 22px !important;
	}
}

@media (min-width: 5000px) {
	body,html {
		font-size: 32px !important;
	}
}

.error-icon {
	font-size: 1rem;
	font-weight: bold;
	color: #F00;
}

/*
-----
SHUTDOWN
-----
*/

#power-confirm {
	position: absolute;
	right: 2rem;
	bottom: 5rem;
	opacity: 0;
    visibility: hidden;
}

#power-confirm > ul {
	display: inline-block;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

#power-confirm li {
	text-align: center;
	list-style: none;
	display: block;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#power-confirm li a {
	text-decoration: none;
	color: inherit;
	font-size: 1rem;
	display: inline-block;
}

.icon-shutdown {
	background: url('./image/shutdown.svg') no-repeat;
	background-size: contain;
}

.icon-reboot {
	background: url('./image/reboot.svg') no-repeat;
	background-size: contain;
}

.menu-icon {
    margin-bottom: .5rem;
	display: block;
	height: 5rem;
	width: 5rem;
	opacity: .8;
	cursor: pointer;
	transition: opacity ease-in-out .5s;
}

.menu-icon:hover, #power-confirm li.menu-focus .menu-icon, #menu.menu-focus  {
	border-radius: .5rem;

	text-decoration: underline;
	background-color: rgba(0, 0, 0, .5);
	opacity: 1;
}

#menu {
	position: absolute;
	right: 2.5rem;
	bottom: 0px;
	width: 4rem;
}

#shutdown:hover {
	opacity: 1;
}


/*
-----
USERS
-----
*/

#users {
	position: absolute;
	bottom: .5rem;
    left: 0px;
	opacity: 0;
    visibility: hidden;
}

a.user {
	display: block;

	width: 50vw;
    margin-left: 25vw;
	margin-top: .5rem;

	padding: .5rem .5rem;

	text-decoration: none;
	text-align: center;
	color: white;

	opacity: .85;
	background-color: transparent;

	border-left: .2rem solid transparent;
	border-right: .2rem solid transparent;
	border-radius: 1.5rem;
}

a.user:hover, a.user-focus {
	border-left: .2rem solid white;
	border-right: .2rem solid white;
	border-radius: 1.5rem;

	text-decoration: underline;
	background-color: rgba(0, 0, 0, .5);
	opacity: 1;
}

.avatar {
	object-fit: cover;
	height: 5vw;
}

.name {
	font-size: 2.5rem;
	display: block;
}


/*
-----
PASSWORD
-----
*/

#prompt-container {

	font-size: 2rem;
	font-size: 2rem;
	height: 40vh;
	width: 70vw;

	padding: 1rem;

	position: absolute;
	top: calc(50% - 20vh);
	left: calc(50% - 35vw);

	border: .1rem solid white;
    border-radius: .3rem;

	background-color: rgba(0, 0, 0, .2);
	transition: opacity ease-in-out 5s;

    opacity: 0;
	visibility: hidden;
}

#prompt-title, #prompt-content {
	width: 100%;
	text-align: center;
}

#prompt-title {
	padding-bottom: 1rem;
	height: 2rem;
	text-decoration: underline;
	text-transform: capitalize;
	font-family: monospace;
}

#prompt-content {
    height: calc(100% - 3rem);
	border: .1rem solid #FFF;
	border-radius: .3rem;
	background-color: rgba(0, 0, 0, .5);
}

#prompt-label {
	height: 40%;
}

#prompt-entry {
	color: #333;
	height: 40%;
}

#prompt-action {
	height: 20%;
	text-align: right;
	vertical-align: middle;
}

#prompt-action>div {
	padding: 0px 3rem;
	margin: 0px 2rem .6rem;
	height: 50%;
	display: inline-block;
	vertical-align: middle;
	border-bottom: .2rem solid transparent;
}

#prompt-action>div:hover {
	border-bottom: .2rem solid white;
	border-radius: 3rem;
}

#prompt-action .menu-icon {
	display: inline-block;
    vertical-align: middle;
	width: 4rem;
	height: 100%;
}

#prompt-entry input {
	background-color: transparent;
	border: none;
	width: 50%;
	color: #FFF;
	text-align: center;
	vertical-align: middle;
	cursor: none;
    font-size: 2.5rem;
    font-stretch: ultra-expanded;
	padding-bottom: .2rem;
	border-bottom: .2rem solid #FFF;
}


.icon-ok {
	background: url('image/check.svg') no-repeat;
	background-size: contain;
}

.icon-cancel {
	background: url('image/close.svg') no-repeat;
	background-size: contain;
}

/*
-----
DATE-TIME
-----
*/
#date-container {
	position: absolute;
	top: 0px;
	right: 0px;
	padding-top: 1.5rem;
	padding-right: 1.5rem;
	padding-left: 5rem;
	padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, .2);
	border-bottom-left-radius: 999rem;
}

#date, #time
{
	font-family: monospace;
	font-size: 2rem;
	text-align: right;
	color: #FFF;
}

#time {
	font-size: 5rem;
}

/*
-----
SESSION
-----
*/

#session-list {
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;

	font-family: monospace;
	font-size: 1.5rem;
	min-width: 15%;
}

/*
-----
SELECT
-----
*/

.select-active {
	text-align: center;
	font-family: monospace;
	font-size: 1.5rem;

	border: none;
	border-radius: .3rem;
	padding: .5rem;
	color: #333;
	opacity: .8;
	font-weight: bold;

	width: 100%;
	background-color: #FFF;

	-webkit-appearance: none;
	-moz-appearance: none;
}

.select-active:hover {
	opacity: 1;
}

.select-icon {
    right: 0px;
    top: 0px;
	position: absolute;
	width: 2rem;
	height: 2rem;
	background: url('image/drop-down.svg') no-repeat #FFF;
	background-size: 2rem;
}

.select-icon-up {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}

.select-icon-down {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
}

.select-items div {
	color: #FFF;
	background-color: rgba(0, 0, 0, .3);
	padding: .5rem 0px;

	border-right: .1rem solid transparent;
	border-left: .1rem solid transparent;

	border-radius: .5rem;
	width: 100%;
    margin-top: .6rem;
	text-align: center;
	cursor: pointer;
}

.select-items .selected {
	font-weight: bold;
}

.select-items {
	border-radius: .5rem;
	width: 100%;
	z-index: 999;
}

.select-hide {
	display: none;
}

.select-items div:hover {
	border-right: .1rem solid;
	border-left: .1rem solid;
	background-color: rgba(0, 0, 0, .5);
}


/**
-----
Effect
-----
*/
#prompt-container.shown, #users.shown, #power-confirm.shown {
	opacity: 1;
	visibility: visible;
}

a.user {
	transition: opacity .3s linear, background-color .3s linear;
}

#prompt-container, #users, #power-confirm {
	transition: opacity ease-in-out 1s;
}
